$basic-black: #000000;
$basic-white: #ffffff;
$basic-dark: #141517;
$basic-extra-dark: #2c2e3f;
$basic-extra-dark-thin: rgba(44, 46, 63, 0.7);
$basic-extra-light: rgba(44, 46, 63, 0.3);
$basic-red: #fe7865;
$basic-red-hover: #f17d4b;

$background-color: #fbf8f8;
$hover-background-image: rgba(20, 21, 23, 0.6);
$close-button-color: rgba(20, 21, 23, 0.2);
$footer-text-color: rgba(20, 21, 23, 0.5);
$footer-icons: #d7d9df;
$modal-text-color: #48494d;
